
@font-face {
    font-family: Exo;
    url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;300;400;900&display=swap') format("eot")
}

 body
 {
    background:url(../img/background.jpg); 
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
	-webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}
 #pixie{position:fixed;}



 canvas {
     display: block;
     width: 100vw;
     height: 100vh;
     z-index: -1;
 }


 .wrapper{
     background-color: #0A5CA5;
     margin-left: auto;
     margin-right: auto;
     width: 75vw;
     min-height
     : 98vh;
     z-index: -1;
     border-radius:25px;
     background: linear-gradient(to top, #224b7a, #4a76a8, #f0f5fb);
   //  opacity: 0.5;
 }

 .wrapper_card{
     margin-top: 50px;
     max-width: 70vw;
     align-items: center;
     display: inline-flex;
     flex-direction: row;
     flex-wrap: nowrap;
     justify-content: space-evenly;
     flex-grow: 0;
 }

 .wrap_tab{
     display: flex;
     justify-content: center;
 }

 .group1{
     flex-direction: row;

 }


 .title{
     font-size: 35px;
     display: flex;
     justify-content: center;
     color: #000000;
     z-index: 1;
     font-family: -apple-system,BlinkMacSystemFont,
     "Segoe UI",Roboto,
     "Helvetica Neue",Arial,
     "Noto Sans",sans-serif;

 }
 .inner{
     display: flex;
     margin-top: 10px;
     align-items: center;
     flex-direction: column;
     flex-wrap: wrap;
 }
 .center{
     height: 100%;
     margin-top: 70px;

 }

 .center2{
     display: flex;
     align-items: center;
 }

.buttonGroup{
    display: flex;
    /*border: 2px solid black;*/
    justify-content: space-evenly;
    flex-grow: 1;
    margin: 5px;

}

.buttonGroupWrap{
    display: flex;
    width: 70vw;
    flex-direction: row;
    flex-grow: 0;
    margin: 5px;

}
.accordionGroup{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;

}
.tabButton{
    display: flex;
    margin: 5px;
    border: 2px solid black;

}

.wrapSwitch {
    min-width: 50px;
    display: flex;
    align-items: center;
    margin: 5px;
}

.groupgroupwrap{
    display: flex;
    flex-direction: row;
}

.cardInner{
    width: 900px;
    border-radius:25px;

}
.cardWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
}







/* Стили секций с содержанием */
.tabs>section {
    display: none;
    padding: 15px;
    background: #fff;
    border: 1px solid #ddd;
}
.tabs>section>p {
    margin: 0 0 5px;
    line-height: 1.5;
    color: #383838;
    /* прикрутим анимацию */
    -webkit-animation-duration: 1s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
/* Описываем анимацию свойства opacity */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Прячем чекбоксы */
.tabs>input {
    display: none;
    position: absolute;
}
/* Стили переключателей вкладок (табов) */
.tabs>label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #aaa;
    border: 0px solid #ddd;
    border-width: 1px 1px 1px 1px;
    background: #f1f1f1;
    border-radius: 3px 3px 0 0;
}
/* Шрифт-иконки от Font Awesome в формате Unicode */
.tabs>label:before {
    font-family: fontawesome;
    font-weight: normal;
    margin-right: 10px;
}
.tabs>label[for*="1"]:before {
    content: "\f19a";
}
.tabs>label[for*="2"]:before {
    content: "\f17a";
}
.tabs>label[for*="3"]:before {
    content: "\f13b";
}
.tabs>label[for*="4"]:before {
    content: "\f13c";
}
.tabs>label[for*="5"]:before {
    content: "\f17c";
}
.tabs>label[for*="6"]:before {
    content: "\f10c";
}
.tabs>label[for*="7"]:before {
    content: "\f13c";
}
.tabs>label[for*="8"]:before {
    content: "\f13c";
}
.tabs>label[for*="9"]:before {
    content: "\f13c";
}
.tabs>label[for*="10"]:before {
    content: "\f13c";
}

/* Изменения стиля переключателей вкладок при наведении */

.tabs>label:hover {
    color: #888;
    cursor: pointer;
}
/* Стили для активной вкладки */
.tabs>input:checked+label {
    color: #555;
    border-top: 1px solid #0A5CA5;
    border-bottom: 1px solid #fff;
    background: #fff;
}
/* Активация секций с помощью псевдокласса :checked */
#tab1:checked~#content-tab1, #tab2:checked~#content-tab2,
#tab3:checked~#content-tab3, #tab4:checked~#content-tab4,
#tab5:checked~#content-tab5, #tab6:checked~#content-tab6,
#tab7:checked~#content-tab7, #tab8:checked~#content-tab8,
#tab9:checked~#content-tab9, #tab10:checked~#content-tab10 {
    display: block;
}
/* Убираем текст с переключателей
* и оставляем иконки на малых экранах
*/

@media screen and (max-width: 680px) {
    .tabs>label {
        font-size: 0;
    }
    .tabs>label:before {
        margin: 0;
        font-size: 18px;
    }
}
/* Изменяем внутренние отступы
*  переключателей для малых экранов
*/
@media screen and (max-width: 400px) {
    .tabs>label {
        padding: 15px;
    }
}


.containerButton {
    box-sizing: border-box;

}



.toggle-button {
    position: relative;

    width: 100px;
    height: 50px;
    margin: 0;

    vertical-align: top;

    background: #ffffff;
    border: 1px solid #bbc1e1;
    border-radius: 30px;
    outline: none;
    cursor: pointer;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.toggle-button::after {
    content: "";

    position: absolute;
    left: 3px;
    top: 1.5px;

    width: 45px;
    height: 45px;
    background-color: #0A5CA5;
    border-radius: 50%;

    transform: translateX(0);

    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.toggle-button:checked::after {
    transform: translateX(calc(100% + 3px));
    background-color: #fff;
}

.toggle-button:checked {
    background-color: #0A5CA5;
}

.uk-divider-icon{
    background-color: #0A5CA5;
    border-radius:25px;

}
/*_-------------------------------------------------------------------*/
/*_-------------------------------------------------------------------*/
/*_-------------------------------------------------------------------*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #0A5CA5;
}

input:focus + .slider {
    box-shadow: 0 0 1px #0A5CA5;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.logo {
    width: 20%;
    float: inline-end;
    border-radius: 20%;
}
